In [83]:
import pandas as pd

from statsmodels.tsa.arima.model  import ARIMA

df = pd.read_csv('test.csv',index_col=0)

df = df.dropna()

df['name_int'] = df['cty_name'].factorize()[0]


datka = df.select_dtypes(include=['int64','float64'])
# # 
# # 
# # 
# # datka.corr()
# 
# 
to_corr = datka[['gas_price_nom','year','gas_price_2000','oil_price_2000','sovereign']]
# 
# 

to_corr.set_index(df['year'])

model = ARIMA(to_corr['gas_price_nom'], order=(1,2,0))
model_fit = model.fit()

predictions = model_fit.forecast(steps=5)
print(predictions)




# 
# 
# model = ARIMA(to_corr['gas_price_nom'], order=(1,2,0))
# model_fit = model.fit()
# 
# predictions = model_fit.forecast(steps=5)
# 
# print(predictions)

1001    10.599348
1002    11.735235
1003    14.263343
1004    15.882938
1005    18.095396
Name: predicted_mean, dtype: float64

C:\Users\prdb\PycharmProjects\zzz\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\prdb\PycharmProjects\zzz\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\prdb\PycharmProjects\zzz\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\prdb\PycharmProjects\zzz\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
C:\Users\prdb\PycharmProjects\zzz\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

In [45]:
df

,cty_name,iso3numeric,id,year,eiacty,oil_prod32_14,oil_price_2000,oil_value_nom,oil_value_2000,oil_value_2014,...,net_gas_exports_value,net_gas_exports_valuePOP,net_oil_gas_exports_valuePOP,population,pop_maddison,sovereign,mult_nom_2000,mult_nom_2014,mult_2000_2014,name_int
1,Syrian Arab Republic,760,SYR,2001,Syria,2.410000e+07,23.698000,4.318125e+09,4.198651e+09,5.772194e+09,...,0.000000e+00,0.000000,125.783354,17242823.0,16728808.0,1,0.972332,1.336736,1.374774,0
14,"Venezuela, RB",862,VEN,2006,Venezuela,1.250000e+08,55.369000,5.970032e+10,5.099403e+10,7.010524e+10,...,0.000000e+00,0.000000,1786.288017,26575750.0,25641000.0,1,0.854167,1.174286,1.374774,1
18,Australia,36,AUS,2001,Australia,3.270000e+07,23.698000,5.862313e+09,5.700115e+09,7.836367e+09,...,1.337990e+09,68.894484,52.203249,19420852.0,19294000.0,1,0.972332,1.336736,1.374774,2
23,Vietnam,704,VNM,1997,Vietnam,1.010000e+07,20.378200,1.413482e+09,1.516520e+09,2.084872e+09,...,0.000000e+00,0.000000,18.576439,75635935.0,76048996.0,1,1.072897,1.474991,1.374774,3
26,Thailand,764,THA,2008,Thailand,1.139565e+07,77.785625,8.123801e+09,6.497441e+09,8.932509e+09,...,-2.161250e+09,-32.072502,-348.838861,67386383.0,65493298.0,1,0.799803,1.099548,1.374774,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4947,Chad,148,TCD,2004,Chad,8.495254e+06,34.298820,2.382770e+09,2.172117e+09,2.986169e+09,...,0.000000e+00,0.000000,225.730045,9428261.0,9097655.0,1,0.911593,1.253235,1.374774,155
4948,Djibouti,262,DJI,2003,Djibouti,0.000000e+00,26.541070,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000,0.000000,457130.0,457130.0,1,0.935870,1.286609,1.374774,110
4951,Malawi,454,MWI,1997,Malawi,0.000000e+00,20.378200,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000,0.000000,10735426.0,10735426.0,1,1.072897,1.474991,1.374774,10
4954,New Zealand,554,NZL,2005,New Zealand,9.591650e+05,47.257310,3.833202e+08,3.379813e+08,4.646477e+08,...,0.000000e+00,0.000000,-363.637600,4093698.0,4048000.0,1,0.881720,1.212166,1.374774,65
4965,Czech Republic,203,CZE,2005,Czech Republic,5.978729e+05,47.257310,2.389337e+08,2.106727e+08,2.896273e+08,...,-2.984001e+09,-291.349372,-552.910782,10242003.0,10241138.0,1,0.881720,1.212166,1.374774,46